<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Invoice app - API module</display-name>
    <persistence-context-ref>
        <persistence-context-ref-name>PGSGL_DS</persistence-context-ref-name>
        <persistence-unit-name>PGSGL_DS</persistence-unit-name>
    </persistence-context-ref>
</web-app>
